In [2]:
import pyodbc
conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=LAPTOP-S1V0PRKL;'
                      'Database=PythonTest;'
                      'Trusted_Connection=yes;')
 
cursor1 = conn.cursor()
sql_command = """select * from  test1.test_connection """
cursor1.execute(sql_command)

for row in cursor1:
    print(row)

(1, 'Alexa', 10)
(2, 'Siri', 15)
(3, 'Cortona', 9)
(4, 'Alexia', 11)
(5, 'Alixia', 12)
(6, 'Erica', 2)
(1, 'Alexa', 10)
(2, 'Siri', 15)
(3, 'Cortona', 9)
(4, 'Alexia', 11)
(5, 'Alixia', 12)
(6, 'Erica', 2)
(1, 'Alexa', 10)
(2, 'Siri', 15)
(3, 'Cortona', 9)
(4, 'Alexia', 11)
(5, 'Alixia', 12)
(6, 'Erica', 2)
(1, 'Alexa', 10)
(2, 'Siri', 15)
(3, 'Cortona', 9)
(4, 'Alexia', 11)
(5, 'Alixia', 12)
(6, 'Erica', 2)

In [2]:
cursor1 = conn.cursor()
sql_command = """
drop table if exists test1.test_connection_copy
select * 
into test1.test_connection_copy
from  test1.test_connection """
cursor1.execute(sql_command)
conn.commit()


for row in cursor1:
    print(row)

ProgrammingError: No results.  Previous SQL was not a query.

In [7]:
sql_command1= """
DROP TABLE IF Exists [TEST1].[order_table]
CREATE TABLE [TEST1].[order_table](
     [account_id] [int] NULL,
     [address] [varchar](256) NULL,
     [order_year] [int] NULL,
     [order_month] [int] NULL,
     [amount_dollar] [decimal](10, 2) NULL,
     [shipping_fee] [decimal](10, 2) NULL
)
insert into [TEST1].[order_table]
values 
(286 , '100 Tryon Rd APT 1', 2017, 4 ,287.88, 4.99),
(148 , '101 Tryon Rd APT 5', 2018, 8 ,75.78, 6.99),
(203 , '102 Tryon Rd APT 1', 2018, 10 ,216.56, 7.99),
(57 , '103 Tryon Rd APT 4', 2017, 3 ,391.79, 7.99),
(86 , '104 Tryon Rd APT 2', 2018, 9 ,313.28, 4.99),
(267 , '105 Tryon Rd APT 2', 2018, 4 ,227.43, 7.99),
(192 , '106 Tryon Rd APT 1', 2018, 10 ,155.33, 4.99),
(100 , '107 Tryon Rd APT 3', 2018, 7 ,381.49, 5.99),
(237 , '108 Tryon Rd APT 10', 2017, 7 ,73.71, 7.99),
(65 , '109 Tryon Rd APT 3', 2017, 8 ,197.15, 6.99),
(226 , '110 Tryon Rd APT 9', 2017, 12 ,122.36, 9.99),
(236 , '111 Tryon Rd APT 5', 2017, 4 ,251.67, 8.99),
(92 , '112 Tryon Rd APT 7', 2017, 1 ,337.51, 9.99),
(122 , '113 Tryon Rd APT 7', 2018, 1 ,51.42, 7.99),
(54 , '114 Tryon Rd APT 7', 2017, 3 ,283.58, 4.99),
(255 , '115 Tryon Rd APT 6', 2018, 8 ,157.6, 9.99),
(53 , '116 Tryon Rd APT 4', 2017, 8 ,369.11, 6.99),
(276 , '117 Tryon Rd APT 5', 2017, 1 ,295.19, 6.99),
(189 , '118 Tryon Rd APT 2', 2018, 4 ,75.11, 7.99),
(196 , '100 Tryon Rd APT 10', 2017, 2 ,109.51, 8.99),
(279 , '101 Tryon Rd APT 10', 2018, 4 ,499.61, 9.99),
(263 , '103 Tryon Rd APT 1', 2017, 11 ,317.79, 6.99),
(40 , '104 Tryon Rd APT 3', 2017, 5 ,291.56, 9.99),
(134 , '105 Tryon Rd APT 4', 2017, 9 ,279.61, 4.99),
(42 , '106 Tryon Rd APT 7', 2017, 5 ,128.48, 6.99),
(282 , '107 Tryon Rd APT 10', 2018, 5 ,350.4, 6.99),
(243 , '108 Tryon Rd APT 4', 2018, 1 ,479.87, 5.99),
(37 , '109 Tryon Rd APT 4', 2018, 7 ,471.99, 9.99),
(221 , '110 Tryon Rd APT 7', 2017, 8 ,234.89, 9.99),
(33 , '111 Tryon Rd APT 4', 2018, 8 ,254.62, 8.99),
(135 , '112 Tryon Rd APT 3', 2018, 5 ,189.02, 5.99),
(157 , '113 Tryon Rd APT 1', 2018, 11 ,138.17, 5.99),
(286 , '114 Tryon Rd APT 5', 2018, 8 ,132.83, 8.99),
(42 , '115 Tryon Rd APT 10', 2018, 12 ,422.57, 9.99),
(119 , '116 Tryon Rd APT 8', 2018, 10 ,256.19, 6.99),
(296 , '117 Tryon Rd APT 2', 2018, 5 ,459.27, 7.99),
(72 , '118 Tryon Rd APT 5', 2017, 1 ,189.02, 7.99),
(195 , '101 Tryon Rd APT 4', 2017, 8 ,186.43, 9.99),
(33 , '102 Tryon Rd APT 8', 2017, 9 ,451.23, 9.99),
(83 , '104 Tryon Rd APT 7', 2018, 12 ,179.21, 4.99),
(252 , '105 Tryon Rd APT 1', 2018, 9 ,495.97, 7.99),
(134 , '106 Tryon Rd APT 3', 2017, 1 ,78.15, 4.99),
(56 , '107 Tryon Rd APT 6', 2017, 4 ,349.59, 4.99),
(234 , '108 Tryon Rd APT 5', 2017, 9 ,246.88, 8.99),
(117 , '109 Tryon Rd APT 5', 2018, 2 ,304.59, 9.99),
(119 , '111 Tryon Rd APT 9', 2017, 8 ,97.05, 5.99),
(260 , '112 Tryon Rd APT 1', 2017, 3 ,161.09, 6.99),
(104 , '113 Tryon Rd APT 5', 2018, 1 ,90.35, 9.99),
(182 , '114 Tryon Rd APT 2', 2017, 2 ,389.37, 8.99),
(115 , '115 Tryon Rd APT 7', 2017, 3 ,500.33, 5.99),
(52 , '117 Tryon Rd APT 8', 2017, 4 ,427.74, 7.99),
(136 , '118 Tryon Rd APT 9', 2017, 1 ,292.73, 4.99),
(245 , '100 Tryon Rd APT 7', 2017, 7 ,262.46, 8.99),
(169 , '102 Tryon Rd APT 4', 2017, 9 ,94.96, 7.99),
(220 , '104 Tryon Rd APT 9', 2018, 7 ,298.13, 9.99),
(225 , '105 Tryon Rd APT 5', 2018, 5 ,221.89, 5.99),
(196 , '107 Tryon Rd APT 8', 2018, 10 ,222.58, 7.99),
(150 , '108 Tryon Rd APT 6', 2018, 4 ,152.38, 6.99),
(192 , '109 Tryon Rd APT 6', 2018, 8 ,272.32, 4.99),
(141 , '110 Tryon Rd APT 4', 2017, 12 ,167.72, 8.99),
(121 , '111 Tryon Rd APT 3', 2017, 4 ,192.79, 7.99),
(170 , '116 Tryon Rd APT 6', 2017, 5 ,183.16, 4.99),
(231 , '117 Tryon Rd APT 6', 2017, 8 ,187.76, 9.99),
(170 , '118 Tryon Rd APT 7', 2017, 5 ,380.02, 5.99),
(218 , '101 Tryon Rd APT 3', 2018, 8 ,436.57, 5.99),
(149 , '102 Tryon Rd APT 6', 2017, 1 ,235.98, 7.99),
(205 , '103 Tryon Rd APT 3', 2017, 5 ,365.26, 7.99),
(155 , '104 Tryon Rd APT 1', 2017, 1 ,281.16, 4.99),
(254 , '105 Tryon Rd APT 10', 2018, 9 ,232.59, 5.99),
(223 , '109 Tryon Rd APT 9', 2017, 3 ,268.76, 4.99),
(20 , '110 Tryon Rd APT 5', 2018, 5 ,403.72, 6.99),
(311 , '100 Tryon Rd APT 1', 2017, 5 ,287.88, 8.99),
(330 , '101 Tryon Rd APT 5', 2018, 9 ,75.78, 8.99),
(325 , '102 Tryon Rd APT 1', 2018, 11 ,216.56, 6.99),
(251 , '103 Tryon Rd APT 4', 2017, 4 ,391.79, 4.99),
(294 , '104 Tryon Rd APT 2', 2018, 10 ,313.28, 9.99),
(318 , '105 Tryon Rd APT 2', 2018, 5 ,227.43, 4.99),
(304 , '106 Tryon Rd APT 1', 2018, 11 ,155.33, 7.99),
(296 , '107 Tryon Rd APT 3', 2018, 8 ,381.49, 7.99),
(268 , '108 Tryon Rd APT 10', 2017, 8 ,73.71, 6.99),
(262 , '109 Tryon Rd APT 3', 2017, 9 ,197.15, 9.99),
(304 , '101 Tryon Rd APT 9', 2017, 13 ,122.36, 7.99),
(323 , '102 Tryon Rd APT 5', 2017, 5 ,251.67, 9.99),
(252 , '112 Tryon Rd APT 7', 2017, 2 ,337.51, 8.99),
(287 , '113 Tryon Rd APT 7', 2018, 2 ,51.42, 8.99),
(281 , '114 Tryon Rd APT 7', 2017, 4 ,283.58, 8.99),
(292 , '115 Tryon Rd APT 6', 2018, 9 ,157.6, 7.99),
(264 , '116 Tryon Rd APT 4', 2017, 9 ,369.11, 7.99),
(303 , '117 Tryon Rd APT 5', 2017, 2 ,295.19, 4.99),
(316 , '118 Tryon Rd APT 2', 2018, 5 ,75.11, 6.99),
(330 , '100 Tryon Rd APT 10', 2017, 3 ,109.51, 8.99),
(299 , '101 Tryon Rd APT 10', 2018, 5 ,499.61, 7.99),
(286 , '103 Tryon Rd APT 1', 2017, 12 ,317.79, 7.99),
(251 , '104 Tryon Rd APT 3', 2017, 6 ,291.56, 7.99),
(319 , '105 Tryon Rd APT 4', 2017, 10 ,279.61, 6.99),
(324 , '106 Tryon Rd APT 7', 2017, 6 ,128.48, 5.99),
(282 , '107 Tryon Rd APT 10', 2018, 6 ,350.4, 6.99),
(290 , '108 Tryon Rd APT 4', 2018, 2 ,479.87, 8.99),
(330 , '109 Tryon Rd APT 4', 2018, 8 ,471.99, 4.99),
(262 , '110 Tryon Rd APT 7', 2017, 9 ,234.89, 9.99),
(255 , '111 Tryon Rd APT 4', 2018, 9 ,254.62, 9.99),
(317 , '112 Tryon Rd APT 3', 2018, 6 ,189.02, 6.99),
(270 , '113 Tryon Rd APT 1', 2018, 12 ,138.17, 4.99),
(270 , '114 Tryon Rd APT 5', 2018, 9 ,132.83, 5.99),
(280 , '115 Tryon Rd APT 10', 2018, 13 ,422.57, 6.99),
(298 , '116 Tryon Rd APT 8', 2018, 11 ,256.19, 7.99),
(275 , '117 Tryon Rd APT 2', 2018, 6 ,459.27, 8.99),
(279 , '118 Tryon Rd APT 5', 2017, 2 ,189.02, 6.99),
(261 , '101 Tryon Rd APT 4', 2017, 9 ,186.43, 8.99),
(251 , '102 Tryon Rd APT 8', 2017, 10 ,451.23, 4.99),
(301 , '104 Tryon Rd APT 7', 2018, 13 ,179.21, 6.99),
(323 , '105 Tryon Rd APT 1', 2018, 10 ,495.97, 6.99),
(302 , '106 Tryon Rd APT 3', 2017, 2 ,78.15, 8.99),
(276 , '107 Tryon Rd APT 6', 2017, 5 ,349.59, 8.99),
(272 , '108 Tryon Rd APT 5', 2017, 10 ,246.88, 6.99),
(287 , '109 Tryon Rd APT 5', 2018, 3 ,304.59, 5.99),
(287 , '111 Tryon Rd APT 9', 2017, 9 ,97.05, 7.99),
(252 , '112 Tryon Rd APT 1', 2017, 4 ,161.09, 7.99),
(312 , '113 Tryon Rd APT 5', 2018, 2 ,90.35, 8.99),
(324 , '114 Tryon Rd APT 2', 2017, 3 ,389.37, 6.99),
(303 , '115 Tryon Rd APT 7', 2017, 4 ,500.33, 8.99),
(308 , '117 Tryon Rd APT 8', 2017, 5 ,427.74, 5.99),
(280 , '118 Tryon Rd APT 9', 2017, 2 ,292.73, 5.99),
(302 , '100 Tryon Rd APT 7', 2017, 8 ,262.46, 7.99),
(306 , '102 Tryon Rd APT 4', 2017, 10 ,94.96, 6.99),
(269 , '104 Tryon Rd APT 9', 2018, 8 ,298.13, 4.99),
(320 , '105 Tryon Rd APT 5', 2018, 6 ,221.89, 9.99),
(261 , '107 Tryon Rd APT 8', 2018, 11 ,222.58, 5.99),
(282 , '108 Tryon Rd APT 6', 2018, 5 ,152.38, 6.99),
(286 , '109 Tryon Rd APT 6', 2018, 9 ,272.32, 5.99),
(295 , '110 Tryon Rd APT 4', 2017, 1 ,167.72, 5.99),
(320 , '111 Tryon Rd APT 3', 2017, 5 ,192.79, 4.99),
(277 , '116 Tryon Rd APT 6', 2017, 6 ,183.16, 7.99),
(302 , '117 Tryon Rd APT 6', 2017, 9 ,187.76, 4.99),
(324 , '118 Tryon Rd APT 7', 2017, 6 ,380.02, 7.99),
(276 , '101 Tryon Rd APT 3', 2018, 9 ,436.57, 6.99),
(257 , '102 Tryon Rd APT 6', 2017, 2 ,235.98, 8.99),
(257 , '103 Tryon Rd APT 3', 2017, 6 ,365.26, 9.99),
(312 , '104 Tryon Rd APT 1', 2017, 2 ,281.16, 8.99),
(281 , '105 Tryon Rd APT 10', 2018, 10 ,232.59, 9.99),
(321 , '109 Tryon Rd APT 9', 2017, 4 ,268.76, 9.99),
(299 , '110 Tryon Rd APT 5', 2018, 6 ,403.72, 6.99)



"""
cursor1.execute(sql_command1)
conn.commit()
print('done')

done